!/bin
/bin/*
!/obj
/obj/*

# CMake temporary files
/CMakeFiles/*
cmake_install.cmake
CMakeCache.txt
Makefile

# Compiled Object files
*.obj
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll
*.so

# Fortran module files
*.mod

# Compiled Static libraries
*.lib
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
